@using Microsoft.AspNet.Identity
@model List<YemekTarifleri.Models.Kategoriler>
@{
    Layout = null;
}

<header id="header" class="p-3 text-white">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
            <div class=" d-flex justify-content-center align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-shop me-1" viewBox="0 0 16 16">
                    <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z" />
                </svg>
                @Html.ActionLink("Yemek Tarifleri", "Index", "Home", null, new { @class = "navbar-brand text-white" })

            </div>
            <ul class="nav flex-md-shrink-0 me-auto">
                <li>@Html.ActionLink("Bugün ne yesek?", "RandomTarif", "Home", null, new { @class = "nav-link px-2 text-white" })</li>
                <li class="dropdown">
                    <a role="button" class="nav-link px-2 text-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        Kategoriler
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-color" id="navbarDropdown">
                        @foreach (var k in Model)
                        {
                            <li>
                                @Html.ActionLink(k.Name, "Kategori", "Home", new { id = k.Id }, new { @class = "dropdown-item" })
                            </li>
                        }
                    </ul>
                </li>
            </ul>
            <form class="mx-2">
                <input type="search" class="form-control" placeholder="Arama...">
            </form>
            <!-- Login ise bu -->
            @if (Request.IsAuthenticated)
            {
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="text-white me-1">@User.Identity.GetUserName()</span>
                        <img class="rounded-circle" alt="mdo" width="32" height="32" src="@Url.Content(String.Format("~/Content/ProfilPhotos/{0}",ViewBag.UserProfilPhotos))" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-color shadow" aria-labelledby="userDropdown">
                        <li>@Html.ActionLink("Profil", "Index", "Settings", null, new { @class = "dropdown-item text-white" })</li>
                        <li>@Html.ActionLink("Çıkış Yap", "LogOff", "Account", null, new { @class = "dropdown-item text-white" })</li>
                    </ul>
                </div>
            }
            else
            {
                <div class="flex-shrink-0">
                    @Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-outline-dark text-white" })
                    @Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-outline-dark text-white" })
                </div>
            }
        </div>
    </div>
</header>