@model YemekTarifleri.Models.ApplicationUser
@{
    ViewBag.Title = "Ayarlar";
}

<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-10 border-bottom p-3 d-flex flex-row align-items-center">
            <div class="profilepic">
                <img class="profilepic__image rounded-circle" alt="mdo" width="70" height="70" src="@Url.Content(String.Format("~/Content/ProfilPhotos/{0}", @Model.ProfilResmi))" />
                <div class="profilepic__content">
                    @Html.ActionLink("Resmi Düzenle", "ProfilResmi", null, new { @class = "profilepic__link" })
                </div>
            </div>
            <div class="ms-3 d-flex flex-column">
                <span class="fs-4 text-white">@Model.FullName</span>
                <small class="text-muted">@Model.UserName</small>
            </div>
            <div class="ms-auto">
                @Html.ActionLink("Profili Düzenle", "ProfilEdit", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="card p-4" style="width: 1000px;">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Ad Soyad</h6>
                </div>
                <div class="col-sm-9 text-secondary">@Model.FullName</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">@Model.UserName</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">@Model.Email</div>
            </div>
            @if (Model.Sehir != null)
            {
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Şehir</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">@Model.Sehir</div>
                </div>
            }
            @if (Model.Twitter != null)
            {
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Twitter</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">@Model.Twitter</div>
                </div>
            }
            @if (Model.Facebook != null)
            {
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Facebook</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">@Model.Facebook</div>
                </div>
            }
            @if (Model.Instagram != null)
            {
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Instagram</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">@Model.Instagram</div>
                </div>
            }
            @if (Model.Youtube != null)
            {
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Youtube</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">@Model.Youtube</div>
                </div>
            }
        </div>
    </div>
</div>