@model List<YemekTarifleri.Models.Kategoriler>
@using System.IO;
@{
    ViewBag.Title = "Ana Sayfa";
}
<section id="main">
    <div class="container" style="max-width: 1000px;">
        <div class="row p-3">
            <div class="col-md-12 justify-content-center">
                <div id="slider" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        @for (int i = 0; i < 4; i++)
                        {
                            <button type="button" @((i == 0 ? "class=active" : null)) data-bs-target="#slider" data-bs-slide-to="@i" aria-current="true" aria-label="Slide @i"></button>
                        }
                    </div>

                    <div class="carousel-inner">
                        @foreach (var (tarif, i) in Model[0].Tarifler.Take(4).Select((value, i) => (value, i)))
                        {
                            <div class="carousel-item@((i == 0 ? " active" : ""))">
                                <a href='@Url.Action("Tarif", "Home",new{id=tarif.Id})'>
                                    @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Content/UploadedFiles/") + tarif.Name.Replace(" ", "_"), "*.jpg").Take(1))
                                    {
                                        var img = new FileInfo(imgPath);
                                        <img src="@Url.Content(String.Format("~/Content/UploadedFiles/{0}/{1}",tarif.Name.Replace(" ", "_") ,img.Name))" class="d-block w-100" alt="" height="400" />
                                    }

                                    <div class="carousel-caption d-none d-md-block">
                                        <h3>@tarif.Name</h3>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#slider" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#slider" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- content -->
    @foreach (var kategori in @Model.FindAll(i => i.Tarifler.Count > 0))
    {
        <div class="container text-white">
            <div class="row mt-3">
                <div class="category-header">
                    @Html.ActionLink(@kategori.Name, "Kategori", "Home", new { id = kategori.Id }, new { @class = "category-link" })
                </div>
                @foreach (var tarif in kategori.Tarifler.Take(4))
                {
                    <div class="col-md-4 col-lg-3">
                        <div class="food-list-item">
                            @foreach (var imgPath in Directory.GetFiles(Server.MapPath("~/Content/UploadedFiles/") + tarif.Name.Replace(" ", "_"), "*.jpg").Take(1))
                            {
                                var img = new FileInfo(imgPath);
                                <a href='@Url.Action("Tarif", "Home",new{id=tarif.Id})'>
                                    <img src="@Url.Content(String.Format("~/Content/UploadedFiles/{0}/{1}",tarif.Name.Replace(" ", "_") ,img.Name))" class="w-100" alt="" />
                                </a>
                            }
                            <div class="text-center my-2">
                                @Html.ActionLink(@tarif.Name, "Tarif", "Home", new { id = tarif.Id }, new { @class = "category-link" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</section>